<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Crear Item</title>
</head>
<body>
    <h1>Crear nuevo Item</h1>
    <form method="POST">
        <label>part_number:</label>
        <input type="text" name="part_number" required><br>
        <label>item_name:</label>
        <textarea name="item_name" required></textarea><br>
        <label>chapter</label>
        <input type="number" name="chapter" required>
        <button type="submit">Guardar</button>
    </form>
    <a href="/">Regresar</a>
</body>
</html>
