<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Principal</title>
</head>
<body>
    <h1>Bienvenido a la Página Principal de OPTIMA</h1>

    <h2>Funcionalidades:</h2>
    <ul>
        <!-- Accede a la ruta para el buscador de piezas -->
        <li><a href="/buscador/">Buscar Piezas</a></li>
        <!-- Accede a la ruta para crear nuevas piezas -->
        <li><a href="/crud/create">Agregar Piezas</a></li>
        <!-- Accede a la lista de piezas -->
        <li><a href="/crud/">Lista de Piezas</a></li>
    </ul>
</body>
</html>
